{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'front/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'front/images/iub_logo.jpg' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter:wght@500&display=swap" rel="stylesheet">
    <title>IUBConnect</title>
</head>
<body>
    <div id="root"></div>
    <script src="{% static 'front/main.js' %}"></script>
</body>
</html>